@model Database.Customer

<span class="display-6">Name : @Model.Name</span>
<hr>
<span class="display-6">Family : @Model.Family</span>
<hr>
<span class="display-6">PhoneNumber : @Model.PhoneNumber</span>
<hr>
<span class="display-6">SignIn date : @Model.Date</span>
<hr>
<span class="display-6">Email : @Model.Email</span>
<button class="btn btn-light btn-addbasket d-flex rounded rounded-4 float-end m-1 " data-bs-dismiss="modal"
    type="button">
    Ok</button>